@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Make scrollbar pretty */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f150;
}

::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}

i.fas, i.far, i.fal, .svg-inline--fa {
  display: inline-block;
  font-size: 1em;
  height: 1em;
  width: 1em;
}