@import "tailwindcss";

:root {
  --background: #e73c7e;
  --gradient-primary: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --gradient-size: 400% 400%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--gradient-primary);
  background-size: var(--gradient-size);
}

/* Make scrollbar pretty */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6c757d;
}

i.fas, i.far, i.fal, .svg-inline--fa {
  display: inline-block;
  font-size: 1em;
  height: 1em;
  width: 1em;
}